# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Vim
*.swp
*.swo
*~
.*.sw?

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc

# VSCode
.vscode/
*.code-workspace

# IDE
.idea/
*.iml

# Logs
*.log

# Temporary files
tmp/
temp/
